.subMenu {
  display: block;
  position: absolute;

  width: 200px;
  max-height: 500px;
  margin-top: 250px;
  margin-left: 100px;

  transition: transform 0.5s ease;
}

.menuItem {
  background-color: red;
  border: solid black 1px;
}

.menuItem.checked {
  background-color: blue;
}
